.modify {
  font-size: 20px;
  font-weight: 600;
  color: black;
}
@media screen and (max-width: 400px) {
  .modify{
    font-size: 16px;
  }
}

.title {
  margin: 40px 0 0 0;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}


@media screen and (max-width: 650px) {
  .title {
    font-size: 30px;
  }
}
@media screen and (max-width: 650px) and (max-width: 490px) {
  .title {
    font-size: 20px;
  }
}

.text-info {
  margin-top: 40px;
  max-width: 750px;
}
.text-info .info-block-m {
  font-size: 24px;
  padding: 0 0 40px 0;
}
@media screen and (max-width: 650px) {
  .text-info .info-block-m {
    font-size: 20px;
  }
}
@media screen and (max-width: 650px) and (max-width: 490px) {
  .text-info .info-block-m {
    font-size: 16px;
  }
}

.title-info-text {
  font-size: 30px;
  font-weight: 500;
}
@media screen and (max-width: 650px) {
  .title-info-text {
    font-size: 25px;
  }
}
@media screen and (max-width: 650px) and (max-width: 490px) {
  .title-info-text {
    font-size: 22px;
  }
}

.title-info-text {
  padding: 0 0 20px 0;
}

.info-block {
  font-size: 24px;
  padding: 0 0 40px 0;
}
@media screen and (max-width: 650px) {
  .info-block {
    font-size: 20px;
  }
}
@media screen and (max-width: 650px) and (max-width: 490px) {
  .info-block {
    font-size: 16px;
  }
}
