@charset "UTF-8";
/* обнуление */
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "SF UI Text";
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* ----------------------------------------- */
.main-fon-nav {
  height: 48px;
}

.lock {
  overflow: hidden;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  position: fixed;
  background: black;
}

.row {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 500px) {
  .row {
    justify-content: space-around;
  }
}

.list {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 500px) {
  .list {
    display: block;
    position: fixed;
    top: -100%;
    width: 100%;
    min-height: 200px;
    background-color: black;
    transition: all 0.2s ease 0s;
  }
  .list.active {
    top: 46px;
  }
}
.list .li-item {
  margin: 0px 100px;
}
@media screen and (max-width: 632px) {
  .list .li-item {
    margin: 20px 50px;
  }
}
@media screen and (max-width: 632px) and (max-width: 500px) {
  .list .li-item {
    padding-top: 10px;
    border-bottom: #838383 1px solid;
    padding-bottom: 20px;
  }
}

.item-li {
  color: #e7e7e7;
  font-size: 14px;
  font-weight: 200;
  transition: 0.2s;
}
.item-li:hover {
  color: whitesmoke;
}
@media screen and (max-width: 500px) {
  .item-li {
    color: #e7e7e7;
    font-size: 14px;
    font-weight: 200;
    transition: 0.2s;
  }
  .item-li:hover {
    color: whitesmoke;
  }
}

.logo-item-li {
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 0.2s;
}
@media screen and (max-width: 1204px) {
  .logo-item-li {
    align-items: flex-end;
  }
}
@media screen and (max-width: 1204px) and (max-width: 292px) {
  .logo-item-li {
    position: relative;
    left: 20px;
  }
}
.logo-item-li .user {
  color: #e7e7e7;
  font-size: 17px;
  transition: 0.2s;
}
.logo-item-li .user:hover {
  color: whitesmoke;
}

.logo-item-li-1 {
  fill: #e7e7e7;
}
.logo-item-li-1:hover {
  fill: whitesmoke;
}

.btn-icon-user {
  background: transparent;
}

.drop-menu {
  display: none;
  position: absolute;
  top: 45px;
  width: 250px;
  background-color: white;
  border: 1px #e0e0e0 solid;
  border-radius: 18px;
}
.drop-menu .drop-menu-flex {
  width: 200px;
  margin: 0 auto;
}
.drop-menu .link-menu1 {
  padding: 15px 0px 0px 0px;
  border-top: 1px solid #e0e0e0;
  display: block;
  width: 200px;
  margin: 15px 0px;
  cursor: pointer;
  color: #3c3cff;
}
.drop-menu .link-menu1:hover {
  text-decoration: underline;
}
.drop-menu .link-menu2 {
  display: inline-block;
  padding: 15px 0px;
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  display: block;
  width: 200px;
  margin: 15px 0px;
  cursor: pointer;
  color: #3c3cff;
}
.drop-menu .link-menu2:hover {
  text-decoration: underline;
}

.d-block {
  display: block;
}

.burger-menu {
  display: none;
}
@media screen and (max-width: 500px) {
  .burger-menu {
    display: block;
    position: relative;
    right: 15px;
    width: 30px;
    height: 20px;
  }
  .burger-menu span {
    position: absolute;
    background-color: #ffffff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .burger-menu:before, .burger-menu:after {
    content: "";
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .burger-menu:before {
    top: 0;
  }
  .burger-menu:after {
    bottom: 0;
  }
  .burger-menu.active span {
    transform: scale(0);
  }
  .burger-menu.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .burger-menu.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
}

body {
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.main-block-auth {
  padding-top: 50px;
}

.logo-text-block {
  margin: 60px 0px;
}
@media screen and (max-width: 800px) {
  .logo-text-block {
    padding-top: 30px;
  }
}
.logo-text-block .logo-text {
  font-size: 40px;
  font-weight: 600;
}
@media screen and (max-width: 800px) {
  .logo-text-block .logo-text {
    font-size: 35px;
  }
}
@media screen and (max-width: 800px) and (max-width: 280px) {
  .logo-text-block .logo-text {
    text-align: center;
    font-size: 30px;
  }
}

.z-index {
  position: relative;
  z-index: -1;
}

.input {
  margin: 10px 0px;
  position: relative;
}
.input input {
  padding: 15px;
}
.input .input-login {
  width: 460px;
  height: 60px;
  border: 1px #b9b9b9 solid;
  background: transparent;
  border-radius: 15px;
  font-size: 20px;
  transition: 0.1s;
}
.input .input-login:focus {
  border: 3px #0071e3 solid;
}
.input .input-login:focus ~ .form-label, .input .input-login:not(:placeholder-shown) ~ .form-label {
  top: -22px;
  padding: 8px;
  font-size: 12px;
}
@media screen and (max-width: 460px) {
  .input .input-login {
    width: 400px;
  }
}
@media screen and (max-width: 460px) and (max-width: 400px) {
  .input .input-login {
    width: 100%;
  }
}
.input .input-password {
  width: 460px;
  height: 60px;
  border: 1px #b9b9b9 solid;
  border-radius: 15px;
  background: transparent;
  font-size: 20px;
  transition: 0.1s;
}
.input .input-password:focus {
  border: 3px #0071e3 solid;
}
.input .input-password:focus ~ .form-label, .input .input-password:not(:placeholder-shown) ~ .form-label {
  top: -22px;
  padding: 8px;
  font-size: 12px;
}
@media screen and (max-width: 460px) {
  .input .input-password {
    width: 400px;
  }
}
@media screen and (max-width: 460px) and (max-width: 400px) {
  .input .input-password {
    width: 100%;
  }
}
.input .btn-input {
  margin: 0px 0px 30px 0px;
  width: 460px;
  height: 60px;
  background-color: #0071e3;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  transition: 0.2s;
}
.input .btn-input:hover {
  background-color: #2582df;
}
@media screen and (max-width: 460px) {
  .input .btn-input {
    width: 400px;
  }
}
@media screen and (max-width: 460px) and (max-width: 400px) {
  .input .btn-input {
    width: 100%;
  }
}
.input .form-label {
  position: absolute;
  left: 0;
  font-size: 20px;
  color: #b9b9b9;
  z-index: -1;
  margin: 20px 10px;
  transition: 0.2s;
}
@media screen and (max-width: 280px) {
  .input .form-label {
    font-size: 16px;
  }
}

.prompt-txt {
  font-size: 13px;
  padding: 10px 0px;
  text-align: center;
}
@media screen and (max-width: 460px) {
  .prompt-txt {
    width: 350px;
    text-align: center;
  }
}
@media screen and (max-width: 460px) and (max-width: 400px) {
  .prompt-txt {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 460px) and (max-width: 400px) and (max-width: 280px) {
  .prompt-txt {
    font-size: 10px;
    width: 100%;
  }
}